* {
    margin: 0;
    padding: 0;

    color: #252525;
}

nav {
    display: flex;
    height: 10vh;
}

nav > .title {
    margin: auto 3rem;
}

nav > .title > p {
    font-size: 1.4rem;
    text-align: center;
}

nav > .title > p:nth-child(2) {
    font-size: 1rem;
}

nav > .menu {
    margin: auto 0;
}

nav > .menu > a{
    margin: 2rem;
    text-decoration:none;
    font-weight: bold;
}

/* 분리할 코드. - main 페이지 */
.carousel {
    width: 100vw;
    height: 80vh;
    background-color: grey;
}

.carousel > .text-box{
    position: absolute;
    z-index: 2;
    /* top 나중에 다시 조정하기 */
    top: calc(50% - 4.3rem); 
    left: 3rem;
    vertical-align: middle;
}

.carousel > .text-box > h1 {
    color: white;
    font-size: 3.8rem;
    letter-spacing: 0.3rem;
}

.carousel > .black-layer{
    width: 100vw;
    height: 80vh;
    background-color: black;
    opacity: 0.8;

    position: absolute;
    z-index: 1;
}

.carousel > .image-box {
}

.carousel .image{
    position: absolute;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.carousel .image-1{
    left: 0;
}

.carousel .image-2{
    left: 100vw;
}

.carousel .image-3{
    left: 200vw;
}

.carousel .image-4{
    left: 300vw;
}

.carousel .image-5{
    left: 400vw;
}

/* 분리할 코드 끝 */

footer {
    width: 100vw;
    height: 15vh;
    background-color: rgb(224, 224, 224);
    
    display: flex;
    flex-wrap: wrap;
}

footer > div {
    margin: auto 0;

}

footer > div > p {
    margin: 1.5rem 3rem;
    font-size: 0.8rem;
}
