
/* 박스 */
.content-block {
    height: 28.125em;
}

.content-block.large{
    height: 56.250em;
}

/* 컨텐츠 */

.content-block > .content{
    margin: auto;
    width: 47.500em;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.content-block.grey{
    background-color: #F5F5F5;
}

.content-block > .content.flex{
    display: flex;
    flex-wrap: wrap;
}

/* 내용 */

#me, #silver {
    flex-grow: 1;
}

.content h3 {
    font-size: 2.188em;
    margin-bottom: 1rem;
}

.content hr{
    margin-bottom: 2.5rem;
    width: 2.5rem;
}

.content h3 > p{
    font-size: 1.2rem;
    display: inline;
    margin-left: 0.7rem;
}

.content p{
    line-height: 1.7rem;
}


.dot {
    width: 8px;
    height: 8px;
    border-radius: 400px;
    background-color: #252525;

    position: relative;
    z-index: 1;
    left: -0.85rem;
    top: 0.78rem;
}

li {
    border-left: 1px solid #252525;
    list-style: none;
    padding: 0.6rem;
}

.img-box{
    display:flex;
    flex-wrap: wrap;
    
}

.img-box img{
    width: 300px;
    margin: 1rem;
}

/* 분리할 코드 끝 */

@media screen and (max-width: 768px){
    .content-block {
        height: auto;
    }

    .content-block > .content {
        width: 85vw;
        position:static;
        transform: unset;
        margin: 5rem auto;
    }

    .
}