{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
    <title>서울속기사무소</title>
</head>
<body>
    <nav>
        <div class="title">
            <p>서울속기사무소</p>
            <p>since 2010</p>
        </div>
        <div class="menu">
            <a href="">소개</a>
            <a href="">녹취록/회의록</a>
            <a href="">경력</a>
            <a href="">오시는길</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

    <footer>
        <div>
            <p>주소 | 서울특별시 서초구 서초대로 259 서원빌딩 B101호</p>
            <p>번호 | 02-596-3660</p>
        </div>
        <div>
            <p>FAX | 02-594-1625</p>
            <p>이메일 | cd8343@daum.net</p>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% block last %}
    {% endblock %}
</body>
</html>