{% extends 'base.html' %}

{% block content %}
<div class="carousel">
    <div class="text-box">
            <h1 class="detail1">의뢰인의 입장에서<br>최선을 다합니다</h1>
    </div>
    <div class="black-layer"></div>
    <div class="image-box">
        <img class="image image-1" src="" alt="">
        <img class="image image-2" src="" alt="">
    </div>
    

</div>
{% endblock %}

{% block last %}
<script type="text/javascript" src="../../static/js/base.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}