{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/career.css' %}">
{% endblock %}

{% block content %}
<div class="career-content">
    <div class="title">
        <hr>
        <h1>경력</h1>
    </div>
    <div class="text">
        <div class="text-box">
            <p>- 삼진비.엔.피 주식회사</p>
            <p>- 세림 주식회사 주주총회</p>
            <p>- 정식품 주주총회</p>
            <p>- 안트로젠 주식회사 </p>
            <p>- 현대상선 채권단 회의</p>
            <p>- 대한변호사사무직원협회 정기총회</p>
            <p>- 서울지방변호사사무직원회 정기총회</p>
        </div>
        <div class="text-box">
            <h3>재개발·재건축</h3>
            <p>- 대림3주택재건축정비사업조합 </p>
            <p>- 정릉7주택재건축정비사업조합</p>
            <p>- 서초교대타운 가로주택정비사업조합</p>
            <p>- 문정법조상가건설조합</p>
            <p>- 불광제3구역재건축정비사업조합</p>
            <p>- 한성아파트재건축정비사업조합</p>
        </div>
        <div class="text-box">
            <h3>종중</h3>
            <p>- 밀양박씨규정공파 종친회</p>
            <p>- 밀양박씨영해공파 종친회</p>
            <p>- 밀양박씨신라오릉보존회</p>
        </div>
    </div>
</div>

{% endblock %}